hr
h3(style='text-align: center') This was generated with Metalsmith
p
  small(style='text-align: center') No rights reserved
  
block scripts
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  script(type="text/javascript").
    window.jQuery || document.write("<script src=client/bower_components/jquery/dist/jquery.min.js />");
  script(src="http://code.jquery.com/jquery-2.1.4.min.js")
  script(type="text/javascript").
    $.fn.modal || document.write("<script src=client/bower_components/bootstrap/dist/js/bootstrap.min.js />");
